// @/components/layout/HomeClient/HomeClient.module.scss

@use '@/styles/shared/' as *;

.heroInner {
  justify-content:space-between;
  padding: 75% 0 3rem;
  @include mq(md) {
    // justify-content: center;
    padding: 25% 0 5%;
  }

  & > h1 {
    font-family: var(--ff-title-min);  
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    letter-spacing: .1em;
    text-shadow: 0 1px 6px rgba(0,0,0,0.5);
  }
}

.workSamples {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  margin-top: 2rem;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    gap: 1rem;
    & > li:not(:first-of-type) {
      margin-top: 0;
    }
    & > li:last-child:nth-child(odd) {
      grid-column: 1 / -1;
      justify-self: center;
      max-width: 60%;
      margin-top: 2rem;
    }
  }
}

.workName {
  margin-bottom: 1em;
  color: rgba($color: $color-black, $alpha: .7);
  font-size: 0.95rem;
  font-family: $font-gothic;
  font-weight: 600;
  text-align: center;
  &::before {
    content: "【";
  }
  &::after {
    content: "】";
  }
}

.toInstagram {
  margin: 1rem 0 1.5rem;
}

.toInstagramImages {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1.2rem;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  & > .toInstagramLinkList {
    position: relative;
    margin-top: 0;
    & > .aspectRatio3div1 {
      aspect-ratio: 3 / 1.7;
    }
    & > .imageTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: var(--ff-mincho);
      font-weight: 800;
      font-size: 1rem;
      letter-spacing: 0.08em;
      color: $color-white;
      z-index: 10;
      text-shadow: 0 1px 3px rgba(0,0,0,0.8);
      @include mq(md) {
        font-size: 1.1rem;
      }
    }
  }
}